.filter-bar {
    display: flex;
    gap: 12px;
}
.filter-input {
    font-size: 16px;
    width: 300px;
    padding: 10px;
    border-radius: 4px;
}
.filter-button {
    background-color: #1976d2;
    color: #ffffff;
    padding: 20px;
}
.filter-button:hover{
    background-color: #115293;
}
.filter-select {
    padding: 15px;
    border: 1px solid;
    border-radius: 4px;
}